.contact{

    position: relative;
    background-image: url("../images/overlay-bg.jpg");
    background-size: cover;
    background-position: center center ;
    position: relative;
    
    }
    .conlayer{
        padding: 2px;
        width: 100%;
    
    background-color: rgba(0, 120, 255,.6);
    position: relative;
    }
    .concard{

      
        width: 80%;
        padding:10px;
        margin: 100px;
        border-radius: 10px;
        background-color: #fff;
    }
    footer{
       text-align: center;
       background-color: #0078ff;
       color: #fff;
       padding: 10px;
    }
    footer span{
        font-size: 20px;
        font-weight: bolder;
    }